/* -------------------------------- 

    Definiciones
    
-------------------------------- */

.scout-bg, .scout:hover
{
    background-color: #622599 !important;
    color: #ffffff !important;
    border-color: transparent !important;
}

.adultos-bg, .adultos:hover
{
    background-color: #E23D28 !important;
    color: #ffffff !important;
    border-color: transparent !important;
}

.jovenes-bg, .jovenes:hover
{
    background-color: #AABA0A !important;
    color: #ffffff !important;
    border-color: transparent !important;
}

.patrocinantes-bg, .patrocinantes:hover
{
    background-color: #3D8E33 !important;
    color: #ffffff !important;
    border-color: transparent !important;
}

.scout-fg, .scout-fg > i
{
    color: #622599 !important;
}

.adultos-fg, .adultos-fg > i
{
    color: #E23D28 !important;
}

.jovenes-fg, .jovenes-fg > i
{
    color: #AABA0A !important;
}

.patrocinantes-fg, .patrocinantes-fg > i
{
    color: #3D8E33 !important;
}

.scout-bg, .scout-bg > i, 
.scout:hover, .scout:hover > i, 
.adultos:hover, .adultos:hover > i,
.adultos-bg, .adultos-bg > i, 
.jovenes-bg, .jovenes-bg > i, 
.jovenes:hover, .jovenes:hover > i, 
.patrocinantes-bg, .patrocinantes-bg > i, 
.patrocinantes:hover, .patrocinantes:hover > i
{
    color: #ffffff !important;
}

/*.scout-fg:hover,.scout-fg:hover > i,
.adultos-fg:hover, .adultos-fg:hover > i,
.jovenes-fg:hover,.jovenes-fg:hover > i,
.patrocinantes-fg:hover, .patrocinantes-fg:hover > i
{
    color: #000 !important;
}*/

