
#logo, .navbar-brand {
    background: #0054A0 url(../img/logo.png) no-repeat center 50%;
    background-size: contain;
    width: 26px;
    height: 26px !important;
    margin: 0px !important;
}

.navbar-nav {
    min-height: 43px;
}

.navbar-brand-title {
    color: white;
    margin-left: 32px;
    border: 0;
    margin-top: 3px;
    height: 23px;
}

@media (max-width: 767px) {
    #logo, .navbar-brand {
        height: 34px !important;
        width: 34px;
    }

    .navbar-brand-title {
        margin-left: 48px;
        height: 28px;
        margin-top: 6px;
    }
}

/* -------------------------------- 

    navbar
    
-------------------------------- */

.navbar {
    border: none;
    -webkit-box-shadow: 0 0px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    -moz-box-shadow: 0 0px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar-pf {
    background: #501E7D;
    border: none;
}

.navbar-pf .navbar-header {
    border: none;
}

.navbar-pf .navbar-utility > li > a {
    border: none;
}

.navbar-pf .navbar-primary {
    background: #622599;
    border: none;
}

.navbar-pf .navbar-primary > li > a:hover {
    background-color: #501E7D;
    border: none;
    color: #cfcfcf;
    background-image: none;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .sidebar-pf .nav-pills > li > a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #622599;
    border-color: transparent !important;
}

.sidebar-pf .nav-pills > li > a:hover > i {
    color: #fff;
}


/* -------------------------------- 

    footer
    
-------------------------------- */

footer {
    padding-top: 25px;
    padding-bottom: 0px;
    background-color: #2f2f2f;
    color: white !important;
}

footer > div {
    max-width: 90%;
    min-height: 70px;
}

@media (max-width: 767px) {
    footer {
        margin-top: 10%;
    }
}
